.animated-brand {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: rgba(255,255,255,0.2);
    background: url("rainbow.jpg") repeat-x;
    -webkit-background-clip: text;
    animation: fire 15s linear infinite;
}

@keyframes fire{
    0%{
        background-position: left 0 top 25px;
    }

    50%{
        background-position: left 130px top -35px;
    }
    100%{
        background-position: left 260px top 0;
    }
}