<div class="container-fluid divset">
    <nav aria-label="Page navigation example">
        <div class="pagination">
            {{ knp_pagination_render(content, 'others/twitter_bootstrap_v4_pagination.html.twig') }}
        </div>
    </nav>
</div>