{% extends 'publicNavbar.html.twig' %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Ошибка сервера
        </div>
        <div class="card-body">
            <div class="alert alert-danger">
                На сервере произошла ошибка. Попробуйте позже.
            </div>
        </div>
    </div>
</div>
{% endblock %}