{% extends 'base.html.twig' %}

{% block layout %}
    <link rel="stylesheet" type="text/css" href="{{ asset('public/includes/css/publicLayout.css') }}">

    <div class="container-fluid" id="publicHeader">
        <div class="row" id="publicHeaderRow">
            <div class="col-12">
                {% block publicHeader %}

                {% endblock %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row" id="responsiveNavHolder">

        </div>
    </div>

    <div class="container-fluid" id="layout" style="margin-bottom: 25px">
        <div class="row" id="layoutRow">
            <div class="col-3" id="publicNav" style="display: block">
                {% block navbar %}

                {% endblock %}
            </div>
            <div class="col-9" id="publicBody">
                <div class="card bg-light">
                    <div class="card-body testHolder">
                        {% block body %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
