{% extends 'site/category.html.twig' %}

{% block navAll %}active{% endblock %}

{% block searchForm %}{{ path('categories_all_search') }}{% endblock %}
{% block searchNav %}
    {% if keywords is defined %}
        {% for keyword in keywords|slice(0,3) %}
            <a href="{{ path('categories_all_search', {'q': keyword}) }}" class="btn btn-outline-success searchTag fatFont">{{ keyword|capitalize }}</a>
        {% endfor %}
    {% endif %}
{% endblock %}


{% block title %} All tests from all categories on verytests.com {% endblock %}


