{% extends 'public_navbar.html.twig' %}

{% block title %}Result of the test: {{ test.test.name }}{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="card-header text-center mobileText">
        <h1>Your result of the test</h1>
        <h1 class="gradientLetter">{{ test.test.name }}</h1>
    </div>
    <div class="jumbotron text-center">
        <h5>{{ result.text }}</h5>
    </div>
</div>
{% endblock %}
