{% extends 'public_navbar.html.twig' %}

{% block title %}Result of the test: {{ test.test.name }}{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="alert alert-info text-center">
        <h3>Your result: </h3>
    </div>
    <div class="jumbotron text-center">
        <h5>{{ result.text }}</h5>
    </div>
</div>
{% endblock %}
